*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #EFEFEF;
}

.image-block{
    width: 952px;
    height: 100%;
    background-color: #526EA5;
    display: grid;
    grid-area: "image-block";
}
.text-img{
    z-index: 3;
    color: #EFEFEF;
}
.dark{
    position: absolute;
    z-index: 1;
    width: 952px;
    height: 1015px;
    background: rgba(0, 0, 0, 0.30);
}
.dark img{
    position: absolute;
    top: 0;
    width: 952px;
    height: 1015px;
    z-index: 0;
}







.send{
    position: relative;
    top: 96px;
    left: 10px;


    border-radius: 55px;
    width: 433px;
    height: 71px;
    border: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #526EA5;
    cursor: pointer;
}
.send:hover{
    transition: 0.5s;
    background-color: #415782;
}
.send:active{
    background-color: #6A8DD4;
}

/* .input-file {
	position: relative;
	display: inline-block;
} */
/* .input-file-text {
    padding-top: 28px;
    float: left;
    display: block;
    font-size: 18px;
    text-align: center;
    flex-wrap: nowrap;
    width: 350px !important;
    height: 71px !important;
    overflow: hidden;
    background-color: #FFF;
	border: 1px solid #526EA5;
} */
/* .input-file-btn {
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 0 4px 4px 0;
	background-color: #526EA5;
	line-height: 22px;
	height: 71px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
} */
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 100px;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #415782;
}
.input-file:active .input-file-btn {
	background-color: #6A8DD4;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #fff;
}
.checkbox-other{
    position: relative;
    top: 100px;
    width: 390px;
    left: 50px;
    color: #000;
    text-align: justify;
    font-family: 'Inter';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkbox-other a{
    color: #0D3C99;
}

.image-block-title{
    top: 429px;
    width: 621px;
    color: #FFF;
    text-align: center;
    font-family: 'Itim';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 165px;
}
.image-block-body{
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 475px;
    width: 621px;
    left: 325px;
}

