*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #EFEFEF;
}
.grid-container{
    display: grid;
    grid-template-areas:
    "image-block form-block"
    "image-block form-block"
    "image-block form-block";
}
.image-block{
    width: 952px;
    height: 1015px;
    background-color: #526EA5;
    display: grid;
    grid-area: "image-block";
}
.text-img{
    z-index: 3;
    color: #EFEFEF;
}
.dark{
    position: absolute;
    z-index: 1;
    width: 952px;
    height: 1015px;
    background: rgba(0, 0, 0, 0.30);
}
.dark img{
    position: absolute;
    top: 0;
    width: 952px;
    height: 1015px;
    z-index: 0;
}
.form-block{
    display: grid;
    grid-area: "form-block";
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox-other {
	display: block;
	margin: 0 0 10px 0;
	line-height: 22px;
}
.checkbox-other input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: top;
	outline: none;
	transition: background 0.3s ease;
	background: url('../img/reg/Checjbox-passive.svg') 0 0 no-repeat;
	cursor: pointer;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked {
	background-image: url('../img/reg/Checjbox-active.svg');
}

/* Focus */
.focused input[type=checkbox] {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other input[type=checkbox]:hover {
	filter: brightness(110%);
}

/* Active */
.checkbox-other input[type=checkbox]:active {
	filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled {
	color: #666;
	cursor: default;
}
.checkbox-other input[type=checkbox]:disabled {
	filter: grayscale(100%);
	opacity: 0.6;
}

h2{
    height: 100px;
    width: 250px;
    position: relative;
    left: 311px;
    top: 88px;
    color: #000;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type=text]{
    width: 433px;
    border: 1px solid #526EA5;
    background: #FFF;
    height: 71px;
    outline: none;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    padding-left: 26px;
    font-weight: 400;
    line-height: normal;
}
input::placeholder{
    color: #7B7B7B;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
